.article-title {
    float: none;
    width: 100%;
}

h3 { text-align: left; }

.article-content {
    float: none;
    width: 100%;
}

.content-fifty {
    width: 50%;
}

#container {
    width: 100%;
    padding: 10px 0px;
}

.right.orange-bar {
    background-color: #ffffff;
    color: #636363;
    float: none;
}

.right.orange-bar:before {
    content: ' - ';
}

#header, .article {
    padding: 0px 10px;
}